extends ../_layout

block content
    h1= post.title
    p.small
        a(href=`/authors/${post.author.id}`)= post.author.fullname
        |  | #{post.date}
    p= post.body

    div.button-group
        a.button.hollow(href='../') Назад
        a.button(href=`/${post.id}/update`) Редактировать
        a.button(href=`/${post.id}/delete`) Удалить